{:paths ["."]

 :deps
 {com.influxdb/influxdb-client-java {:mvn/version "6.1.0"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}}

 :aliases
 {:load-rig-data
  {:exec-fn massage/load-rig-data}}
 }
